---
layout: base.njk
formation: Forma trop cool
resume: Un resume de la forma
image: https://media.istockphoto.com/photos/otter-picture-id631933162?k=20&m=631933162&s=612x612&w=0&h=AvmTYnRq1QxzuU29gYcnK1AVRRMGvOB6sZnnSeWOvyk=
---

<h1>{{formation}}</h1>

<div class="container my-4" style="text-align: center;">
    <img src="{{image}}" height=300 />
</div>

{{content | safe }}